<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Mental health support {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
{{ breadcrumb({ href: "/", text: "Home" }) }} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1>
      Welcome to Gloucestershire's mental health support ecosystem for children
      and young people.
    </h1>

    <p>
      Everything that's available in Gloucestershire to help ages 0-25 with
      mental health, including NHS and <a href="nhs-placeholder">NHS partner services</a>.
    </p>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/blank-content-page"
                >Learn more</a
              >
            </h2>
            <p class="nhsuk-card__description">
              Information about your mental health, suggestions for self-help,
              and useful links and resources.
            </p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a
                class="nhsuk-card__link"
                href="/mental-health-check-in/questions"
                >Find support</a
              >
            </h2>
            <p class="nhsuk-card__description">
              An online mental health check-in to help you understand how you're
              feeling and what support is available.
            </p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a
                class="nhsuk-card__link"
                href="/text-triage"
                >Speak to someone</a
              >
            </h2>
            <p class="nhsuk-card__description">
              Text a mental health expert who'll help you understand how you're
              feeling and what support is available.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <br>

    <h2>Do you need immediate help?</h2>
    <div class="nhsuk-care-card nhsuk-care-card--urgent">
      <div class="nhsuk-care-card__heading-container">
        <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>Call our Crisis Team on 0800 169 0398 if:</span></h3>
        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-care-card__content">
    
        <ul>
          <li>you are having suicidal thoughts and feel like you are a risk to yourself</li>
          <li>you are worried that someone you care for is at risk</li>
        </ul>
    
      </div>
    </div>
  </div>
</div>
{% endblock %}
