<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Learn more
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Breadcrumb -->
  {{ breadcrumb({
    href: "/landing-page",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Learn more about mental health
      </h1>
      
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
      <p>placeholder for content</p>
   
      <!-- End of content -->

      <h2>Useful links and resources </h2>


      

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-full nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href=""
                >Mental health terms explained</a
              >
            </h2>
            <p class="nhsuk-card__description">
              A glossary of words often used when discussing mental health. 
            </p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-full nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a
                class="nhsuk-card__link"
                href=""
                >Looking after your mental wellbeing</a
              >
            </h2>
            <p class="nhsuk-card__description">
              Information for on understanding mental wellbeing and how to look after it.
            </p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-full nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a
                class="nhsuk-card__link"
                href="/stories-from-others"
                >Stories from other people</a
              >
            </h2>
            <p class="nhsuk-card__description">
              Hear more from other young people dealing with mental health issues.
            </p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-full nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a
                class="nhsuk-card__link"
                href=""
                >FAQ: common questions and answers</a
              >
            </h2>
            <p class="nhsuk-card__description">
              Get answers to common questions from other young people like you.
            </p>
          </div>
        </div>
      </li>
    </ul>
    


    <!-- <a href="/landing-page" class="nhsuk-button nhsuk-u-margin-bottom-8" id="placeholder-page-back-button">
      Back
  </a> -->

    </div>  

  </div>
{% endblock %}
