<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Self referral
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
{{ breadcrumb({
href: "/",
text: "Home"
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <!-- Change the page title here -->
        <h1>
            Refer yourself to CAMHS
        </h1>
    </div>

</div>

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
        <p>
            Please let us know why you'd like to be seen by CAMHS, including details of any previous or current mental health problems. The more information you include, the better we can decide on how best to help you.
        </p>
        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Some people prefer to fill out this form with support from someone else. You can ask your school mental health lead to help. If you don’t know who that is, your school nurse will be able to tell you.
            </p>
        </div>
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Questions
                </h1>
            </legend>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-1">
                    Please describe any mental health difficulties you might be having<span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                </label>
                <div class="nhsuk-hint" id="example-hint">
                    e.g. worries, sadness, anger, changeable moods or feelings, self-harm etc.
                </div>
                <textarea class="nhsuk-textarea" id="address-line-1" name="address-line-1" type="text"></textarea>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-1">
                    How long have these been affecting you?<span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                </label>
                <textarea class="nhsuk-textarea" id="address-line-1" name="address-line-1" type="text"></textarea>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-1">
                    What impacts have these had on you, and have these had any impact on your family, school work or friends?<span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                </label>
                <div class="nhsuk-hint" id="example-hint">
                    Please tell us:
                    <ul>
                        <li>Impacts on you: e.g. sleep, appetite, motivation, self care, etc.</li>
                        <li>Impacts on relationship with those around you.</li>
                        <li>Are you still communicating with friends?</li>
                    </ul>
                </div>
                <textarea class="nhsuk-textarea" id="address-line-1" name="address-line-1" type="text"></textarea>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-1">
                    Has anything happened recently to make you seek help at this time?<span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                </label>
                <textarea class="nhsuk-textarea" id="address-line-1" name="address-line-1" type="text"></textarea>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-1">
                    Is there any further information that you think we should know?<span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                </label>
                <textarea class="nhsuk-textarea" id="address-line-1" name="address-line-1" type="text"></textarea>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-1">
                    What impacts have these had on you, and have these had any impact on your family, school work or friends?<span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                </label>
                <div class="nhsuk-hint" id="example-hint">
                    Please include answers to these questions:
                    <ul>
                        <li>Do you still go to school?</li>
                        <li>What activities do you enjoy doing?</li>
                        <li>Are you still motivated?</li>
                        <li>Has there been a change to concentration at school?</li>
                        <li>Have you thought about harming yourself and have you acted on these thoughts?</li>
                    </ul>
                </div>
                <textarea class="nhsuk-textarea" id="address-line-1" name="address-line-1" type="text"></textarea>
            </div>

        </fieldset>
        <a href="/referral-received" class="nhsuk-button nhsuk-u-margin-bottom-8">
            Submit
        </a>
    </div>
</div>

{% endblock %}
