{% extends 'layout.html' %}

{% block pageTitle %}
Results
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/adults-landing-page",
      text: "Find support"
    },
    {
      href: "/adults-form/adults-form-page-1", 
      text: "Support finder - page 1"
    }
  ],
  href: "/adults-form/adults-form-page-2", 
  text: "Support finder - page 2"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
    <h1>Find support - results</h1>
    <p>
      Based on what you've told us, we think these are the best options for the young person you're supporting.
    </p>
    <br/>
    <button class="nhsuk-button">Save results</button>
    <br/> 
      <script type="text/javascript">
        const getCards = () =>
          fetch("/return-service-filter")
            .then((res) => res.json())
            .then((res) => {
              if (res.length == 0) {
                document.getElementById(
                  "search_results"
                ).innerHTML = `<p>No specific services found<br> <a href="/landing-page">Return to homepage</a></p>`;
                return null;
              }
              document.getElementById("search_results").innerHTML = res
                .map((result) => {
                  return `<div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="${result.url}">
                    ${result.title}
                  </a>
                </h2>
                <p class="nhsuk-card__description">
                  ${result.description}
                </p>
              </div>
          </div>`;
                })
                .join("");
            });

        getCards();
      </script>

      <div id="search_results">Loading...</div>
    </div>
  </div>
{% endblock %}

