{% extends 'layout.html' %}

{% block pageTitle %}
Results
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/adults-landing-page",
      text: "Find support"
    },
    {
      href: "/adults-form/adults-form-page-1", 
      text: "Support finder - page 1"
    }
  ],
  href: "/adults-form/adults-form-page-2", 
  text: "Support finder - page 2"
}) }}
{% endblock %}

{% block content %}
  
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <form action="/adults-form/adults-form-summary" method="post">

      <h1>Your answers</h1>
      



<dl class="nhsuk-summary-list">

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Age
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['age'] }}
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="/adults-form/adults-form-page-1">
          Change<span class="nhsuk-u-visually-hidden"> age</span>
        </a>
  
      </dd>
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Issue
      </dt>
      <dd class="nhsuk-summary-list__value">
      {% for item in data['tags'] %}
        {% switch item %}
          {% case 'mood' %}
            <li>Mood and motivation</li>
          {% case 'eating-disorders' %}
            <li>Eating habits or body image</li>
          {% case 'gender' %}
            <li>Gender identity or sexuality</li>
          {% case 'psychosis' %}
            <li>Seeing or hearing things</li>
          {% case 'self-harm' %}
            <li>Self-harm</li>
          {% case 'anxiety' %}
            <li>Feeling worried and anxious</li>
          {% case 'crisis' %}
            <li>Thinking about suicide</li>
        {% endswitch %}
      {% endfor %}
      {% for item in data['tags'] %}
        {% switch item %}
          {% case 'mood' %}
            <li>Mood and motivation</li>
          {% case 'eating-disorders' %}
            <li>Eating habits or body image</li>
          {% case 'gender' %}
            <li>Gender identity or sexuality</li>
          {% case 'psychosis' %}
            <li>Seeing or hearing things</li>
          {% case 'self-harm' %}
            <li>Self-harm</li>
          {% case 'anxiety' %}
            <li>Feeling worried and anxious</li>
          {% case 'crisis' %}
            <li>Thinking about suicide</li>
        {% endswitch %}
      {% endfor %}
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="#">
          Change<span class="nhsuk-u-visually-hidden"> issue</span>
        </a>
  
      </dd>
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Trauma
      </dt>
      <dd class="nhsuk-summary-list__value">
      {% for item in data['tags'] %}
        {% switch item %}
          {% case 'bereavement' %}
            <li>Bereavement</li>
          {% case 'bullying' %}
            <li>Bullying</li>
          {% case 'covid' %}
            <li>The COVID-19 pandemic</li>
          {% case 'family-illness' %}
            <li>Family illness</li>
          {% case 'miscarriage' %}
            <li>Miscarriage or pregnancy-related issues</li>
          {% case 'asylum-seeker' %}
            <li>Seeking asylum</li>
          {% case 'sexual-violence' %}
            <li>Sexual abuse or assault</li>
        {% endswitch %}
      {% endfor %}
      {% if data['tags'] %}
        {% switch item %}
          {% case 'bereavement' %}
            <li>Bereavement</li>
          {% case 'bullying' %}
            <li>Bullying</li>
          {% case 'covid' %}
            <li>The COVID-19 pandemic</li>
          {% case 'family-illness' %}
            <li>Family illness</li>
          {% case 'miscarriage' %}
            <li>Miscarriage or pregnancy-related issues</li>
          {% case 'asylum-seeker' %}
            <li>Seeking asylum</li>
          {% case 'sexual-violence' %}
            <li>Sexual abuse or assault</li>
        {% endswitch %}
      {% endif %}
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="#">
          Change<span class="nhsuk-u-visually-hidden"> trauma type</span>
        </a>
  
      </dd>
  
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Support types
      </dt>
      <dd class="nhsuk-summary-list__value">
      
     
      {% for item in data['support_types'] %}
        {% switch item %}
          {% case 'app,self-help' %}
            <li>Information and self-help</li>
          {% case 'helpline' %}
            <li>Somebody to speak to now (e.g. a helpline)</li>
          {% case 'counselling,group-support,1-1-support,group-work,residential-stay,social-prescribing' %}
            <li>Ongoing help to get better</li>
        {% endswitch %}
      {% endfor %}
      {% if data['support_types'] %}
      {% switch data['support_types'] %}
          {% case 'app,self-help' %}
            <li>Information and self-help</li>
          {% case 'helpline' %}
            <li>Somebody to speak to now (e.g. a helpline)</li>
          {% case 'counselling,group-support,1-1-support,group-work,residential-stay,social-prescribing' %}
            <li>Ongoing help to get better</li>
        {% endswitch %}
        {% endif %}
      
        {% if data['support-types-notsure'] == "specialist" %}
          <li>Specialist medical support</li>
        {% endif %}
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="#">
          Change<span class="nhsuk-u-visually-hidden"> support types</span>
        </a>
  
      </dd>
      </div>
  
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Location
        </dt>
        <dd class="nhsuk-summary-list__value">
          <!--insert location-->
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> location</span>
          </a>
    
        </dd>
    </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Show paid options?
            </dt>
            <dd class="nhsuk-summary-list__value">
              <!--insert yes/no-->
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> show paid options</span>
              </a>
        
            </dd>
        </div>

        <br><br>

            <button class="nhsuk-button">Continue</button>

    </div>
  
  </dl>



{% endblock %}

