{% extends 'layout.html' %}

{% block pageTitle %}
Find support
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({ href: "/landing-page", text: "Home" }) }} 

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Find support</h1>
      <p>
        Let us know how you're feeling by answering the following questions so
        we can work out the right support for you.
      </p>
      
      <form action="/mental-health-check-in/questions-2" method="post">
        <h1>About you</h1>
        <!-- How Old are you-->
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading" for="age">How old are you?</h1>
          </legend>
          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            This will help us only recommend help that's appropriate and
            available for people your age.
          </div>
          <select class="nhsuk-select" id="age" name="age">
            <option value=9 {{ checked("age", 9) }}>9 years old or younger</option>
            <option value=10 {{ checked("age", 10) }}>10 years old</option>
            <option value=11 {{ checked("age", 11) }}>11 years old</option>
            <option value=12 {{ checked("age", 12) }}>12 years old</option>
            <option value=13 {{ checked("age", 13) }}>13 years old</option>
            <option value=14 {{ checked("age", 14) }}>14 years old</option>
            <option value=15 {{ checked("age", 15) }}>15 years old</option>
            <option value=16 {{ checked("age", 16) }}>16 years old</option>
            <option value=17 {{ checked("age", 17) }}>17 years old</option>
            <option value=18 {{ checked("age", 18) }}>18 years old</option>
            <option value=19 {{ checked("age", 19) }}>19 years old</option>
            <option value=20 {{ checked("age", 20) }}>20 years old</option>
            <option value=21 {{ checked("age", 21) }}>21 years old</option>
            <option value=22 {{ checked("age", 22) }}>22 years old</option>
            <option value=23 {{ checked("age", 23) }}>23 years old</option>
            <option value=24 {{ checked("age", 24) }}>24 years old</option>
            <option value=25 {{ checked("age", 25) }}>25 years old</option>
          </select>
        </fieldset>
        <br /><br />
        <!---- do you live in gloucestershire full time? -->
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you live in Gloucestershire full-time?
            </h1>
          </legend>
      
          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="glosFullTime" name="glosFullTime" type="radio" value="yes" {{ checked("glosFullTime", "yes") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="glosFullTime">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="glosFullTime" name="glosFullTime" type="radio" value="no" {{ checked("glosFullTime", "no") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="glosFullTime">
                No
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="glosFullTime" name="glosFullTime" type="radio" value="not sure" {{ checked("glosFullTime", "not sure") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="glosFullTime">
                Not sure
              </label>
            </div>
      
          </div>
        </fieldset>
        <br/> <br />
        <!-- where do you live in gloucestershire? -->
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading" for="diagnosis">Where do you live in Gloucestershire?</h1>
          </legend>
          <select class="nhsuk-select" id="locations" name="locations">
            <option>Loading...</option>
          </select>
          
        </fieldset>
        <br/> <br />

        <!--- Do you go to school?----->
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you go to school?
            </h1>
          </legend>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item" onClick="showSchool()">
              <input class="nhsuk-radios__input" id="school-yes" name="schoolBool" type="radio" value="true" {{ checked("schoolBool", "true")}}>
              <label class="nhsuk-label nhsuk-radios__label" for="school-yes">
                Yes
              </label>
            </div>
            <!-- What school do you go to? -->
            <!-- Searchbox or location dependant? -->
            
      
            <div class="nhsuk-radios__item" onClick="showSchool()">
              <input class="nhsuk-radios__input" id="school-no" name="schoolBool" type="radio" value="false" {{ checked("schoolBool", "false")}}>
              <label class="nhsuk-label nhsuk-radios__label" for="school-yes">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
      <div id="school-name-select"></div>
      </br></br>
        <!-- Are you in care or a carer? -->
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Are you in care or a carer?
            </h1>
          </legend>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item" onClick="showCarer()">
              <input class="nhsuk-radios__input" id="care-yes" name="careBool" type="radio" value="true" {{ checked("careBool", "true")}}>
              <label class="nhsuk-label nhsuk-radios__label" for="care-yes">
                Yes
              </label>
            </div>
            
      
            <div class="nhsuk-radios__item" onClick="showCarer()">
              <input class="nhsuk-radios__input" id="care-no" name="careBool" type="radio" value="false" {{ checked("careBool", "false")}}>
              <label class="nhsuk-label nhsuk-radios__label" for="care-no">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
        <div id="care-type-select"></div>
        <br/> <br />

        <!--how would you like to speak to the service?-->
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              How would you like to speak to the service?
            </h1>
          </legend>
      
          <div class="nhsuk-hint" id="example-hint">
            Select all options that you would be interested in
          </div>
      
          <div class="nhsuk-checkboxes">
      
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="virtualness-online" name="virtualness" type="checkbox" value="online" {{ checked("virtualness", "online") }}>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="online">
                Online
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="virtualness-by-phone" name="virtualness" type="checkbox" value="by_phone" {{ checked("virtualness", "by_phone") }}>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="in-person">
                By phone
              </label>
            </div>
      
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" onClick="showLocations()" id="virtualness-in-person" name="virtualness" type="checkbox" value="in_person" {{ checked("virtualness", "in_person") }}>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="in-person">
                In person
              </label>
            </div>
          </div>
        </fieldset>
      </br></br>
      <button class="nhsuk-button">Continue</button>
    </form>
    <script>
      // Scripts on page loading
      const getFormContent = async (contentName, renderer, appendHTML = "") => 
        fetch("/" + contentName).then(res => res.json()).then(body => {
        document.getElementById(contentName).innerHTML = body.map(renderer).join("")
        document.getElementById(contentName).innerHTML = document.getElementById(contentName).innerHTML + appendHTML
      })

      getFormContent(
          "locations",
          item => `<option value="${item.name}" {{ checked("locations", "${item.name}") }}>${item.human_text !== "" ? item.human_text : item.name} </option>`,
          `<option value="not-sure" {{ checked("locations", "not-sure") }}>I'm not sure</option>`
          )


      // Script for carer popup
      const showCarer = () =>{
      let carerQuestions = `<fieldset class="nhsuk-fieldset" aria-describedby="carer-questions">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Please select all that apply to you
        </h1>
        </legend>

        <div class="nhsuk-checkboxes">

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="care-carer" name="care" type="checkbox" value="carer" {{ checked("care", "carer")}}>
            <label class="nhsuk-label nhsuk-checkboxes__label" for="care-carer">
              I am a carer
            </label>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="care-in-care" name="care" type="checkbox" value="in-care" {{ checked("care", "in-care")}}>
            <label class="nhsuk-label nhsuk-checkboxes__label" for="care-carer">
              I am in care
            </label>
          </div>

        </div>
      </fieldset>`

      if (document.getElementById("care-yes").checked === true){
        document.getElementById("care-type-select").innerHTML= `<div class="nhsuk-inset-text">
          ${carerQuestions}
        </div>`
      } else {

        document.getElementById("care-type-select").innerHTML= ``
      }
    } 
      

    showCarer()

    // Script for schools popup
    const showSchool = () =>{
      let schoolQuestions = `<fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading" for="diagnosis">What school do you go to?</h1>
          </legend>
          <select class="nhsuk-select" id="schools" name="schools">
            <option>Loading...</option>
          </select>
        </fieldset>`
      if (document.getElementById("school-yes").checked === true){
        document.getElementById("school-name-select").innerHTML= `<div class="nhsuk-inset-text">
          ${schoolQuestions}
        </div>`
        getFormContent("schools",item => `<option value="${item.name}" {{ checked("schools", "${item.name}") }}>${item.human_text !== "" ? item.human_text : item.name} </option>`)
      } else {
        document.getElementById("school-name-select").innerHTML= ``
      }
    } 


    showSchool()

    </script>
    </div>
  </div>
{% endblock %}


