{% extends 'layout.html' %}

{% block pageTitle %}
Find support (continued)
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
  items: [
    {
      href: "/landing-page",
      text: "Home"
    }
  ],
  href: "/mental-health-check-in/questions-1", 
  text: "Questions: about you"
}) }}
<!-- {{ breadcrumb({ href: "/mental-health-check-in/questions-1", text: "Questions: about you" }) }}  -->
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/mental-health-check-in/summary" method="post">
        <h1>About your feelings</h1><br />
        
        <!-- Has your appetite changed recently? {diagnosis -> eating disorder}-->
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Has your appetite changed recently?
              </h1>
            </legend>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="appetiteBool" name="appetiteBool" type="radio" value="true" {{ checked("appetiteBool", "true")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="appetiteBool">
                  "I've not noticed a change in my appetite
                </label>
              </div>
              <div id="appetites">Loading... </div>
              

        
          </fieldset>

        </br></br>
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading" for="diagnosis">I am looking for help with:</h1>
          </legend>
          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            If you know what you are looking for, choose from the list below. 
          </div>
          <select class="nhsuk-select" id="diagnoses" name="diagnoses">
            <option>Loading...</option>
          </select>
        </fieldset>
        <br /><br />

        <!--How much has (answer above) been affecting you {severity?}-->
        <fieldset class="nhsuk-fieldset">
        </fieldset>
        </br> </br>

        <!-- Have you had trouble falling or staying asleep/or sleeping too much? {tags: sleep hygiene}-->
        <fieldset class="nhsuk-fieldset"></fieldset>
        </br></br>

        <!-- Have you been affected by a recent traumatic event? {tags: traumatic events? }-->
        <fieldset class="nhsuk-fieldset"></fieldset>
        </br></br>

        <!-- Is there an adult in your life that you trust and can talk to? {tags: no-support} -->
        <fieldset class="nhsuk-fieldset"></fieldset>
        </br></br>

        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              What kind of help are you looking for?
            </h1>
          </legend>
          
          <div class="nhsuk-hint" id="example-hint">
            Select all options that you would be interested in
          </div>
      
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="support-type-cbt" name="support-type" type="checkbox" value="cbt" {{ checked("support-type", "cbt") }}>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="support-type-cbt">Cognitive behavioural therapy (CBT)</label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="support-type-art" name="support-type" type="checkbox" value="art" {{ checked("support-type", "art") }}>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="support-type-art">Art based therapy</label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="support-type-counselling" name="support-type" type="checkbox" value="counselling" {{ checked("support-type", "counselling") }}>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="support-type-counselling">Counselling</label>
            </div>

            
      
          </div>
        </fieldset>
        </br></br>
        <button class="nhsuk-button">Continue</button>
    </form>


    <script>

      const getFormContent = async (contentName, renderer) => 
        fetch("/" + contentName).then(res => res.json()).then(body => {
        document.getElementById(contentName).innerHTML = body.map(renderer).join("")
      })
      
      getFormContent("diagnoses",item => `<option value="${item.name}" {{ checked("diagnoses", "${item.name}") }}>${item.human_text || item.name} </option>`)
      getFormContent("appetites", item => `<div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="appetites-${item.name}" name="appetites" type="radio" value="${item.name}" {{ checked("appetites", "${item.name}")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="school-yes">
                  ${item.conversational_text}
                </label>
              </div>`)
      
    </script>
      <div class="nhsuk-back-link">
        <a href="/mental-health-check-in/questions-1" class="nhsuk-back-link__link">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Change my previous answer</a>
      </div>

    </div>
  </div>

{% endblock %}


