<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Find support {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
{{ breadcrumb({ href: "/landing-page", text: "Back" }) }} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <!-- Change the page title here -->
    <h1>Find support</h1>
    <p>
      Let us know how you're feeling by answering the following questions so we
      can suggest services that may be able to help you.
    </p>

    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">How old are you?</h1>
        </legend>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1">11</option>
          <option value="2">12</option>
          <option value="3">13</option>
        </select>
      </fieldset>
    </div>

    <a
      href="/mental-health-check-in/results"
      class="nhsuk-button nhsuk-u-margin-bottom-8"
    >
      Submit
    </a>
  </div>
</div>
{% endblock %}
