<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Buy a feature
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
{{ breadcrumb({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div id="page-wrap">
    <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">

            <!-- Change the page title here -->
            <h1>
                “Buy” a feature
            </h1>

            <p>Imagine you are designing the best service for your needs. <br><br>
                Your budget is <b>£70</b> and you can have any <b>five</b> of the things we’ve discussed today. <br><br>
                What would you leave in? What would you leave out? <br><br>
                Is there anything that’s <b>not</b> here that you think the money would be better spent on?</p><br>
        
        
            <ul class="nhsuk-grid-row nhsuk-card-group">
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/tell-us-your-schedule.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">Choose appointment location and time
        
                    </h2>
                    <p class="nhsuk-card__description" >
                
                        Tell us which location and time is best for your first appointment.<br><br>
                        <b>£10</b>
                    </p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=10>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/your-clinicians.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Meet the clinicians
                    </h2>
                    <p class="nhsuk-card__description" >
                        A brief introduction to some of the clinicians you might be working with.<br><br>
                    <b>£5</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=5>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/self-referral.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Self referral
                    </h2>
                    <p class="nhsuk-card__description" >
                        Refer yourself to CAMHS<br><br>
                    <b>£20</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=20>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/text-triage.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Text triage
                    </h2>
                    <p class="nhsuk-card__description" >Speak to a mental health expert who'll help you understand how you're feeling and what the best ways of getting help are.<br><br>
                    <b>£20</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=20>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/online-mental-health-check.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Online mental health check
                    </h2>
                    <p class="nhsuk-card__description" >An online mental health check to help you understand what you're feeling and what the best way of getting help is.<br><br>
                    <b>£10</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=10>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/text-check-in-2.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Text check-ins
                    </h2>
                    <p class="nhsuk-card__description" >Text messages to check on how you're doing, reassure you we've not forgotten about you and remind you where to go for help if things get worse.
        
                        <br><br>
                    <b>£10</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=10>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        
        
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/journey-visual.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Visual of your journey
                    </h2>
                    <p class="nhsuk-card__description" >A 'map' showing the different stages of the process of being referred and going through counselling<br><br>
                    <b>£5</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=5>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        
        
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/appointment-summary.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Appointment summary
                    </h2>
                    <p class="nhsuk-card__description" >Summaries of each of your appointments, online.<br><br>
                    <b>£20</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=20>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        
        
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/dashboard.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Dashboard
                    </h2>
                    <p class="nhsuk-card__description" >A place to see all the details of your treatment, your appointments and who they're with, and your care plan.<br><br>
                    <b>£20</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=20>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        
        
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/online-forum.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Online forum
                    </h2>
                    <p class="nhsuk-card__description" >A private online forum, moderated by one of our clinical team.<br><br>
                    <b>£10</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=10>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        
        
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            
                <div class="nhsuk-card nhsuk-card">
                    <img class="nhsuk-card__img" src="images/status-update.png" alt="">
                    <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        Status updates
                    </h2>
                    <p class="nhsuk-card__description" >Text message updates that show you where you are in the process and what's happening.<br><br>
                    <b>£10</b></p>
                    <div class="nhsuk-form-group">
        
                        <div class="nhsuk-form-group">
        
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <div class="nhsuk-checkboxes">
                        
                            <div class="nhsuk-checkboxes__item" onClick="sum_values()">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value=10>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                
                                </label>
                            </div>
                            </div>
                        </fieldset>
                        
                        </div>
        
                    </div>
                </div>
            
                </li>
        </div>

        <div id="sidebar" style="text-align: center;" >
            <h2 id="variable_paragraph" style="padding-top: 10%">Your total cost is £0</h2>
        </div>

        <script type="text/javascript">

            const sum_values = () => {
                let checkboxes = document.getElementsByClassName("nhsuk-checkboxes__input");
                let sum = 0
                for(var i=0; checkboxes[i]; ++i){
                    if(checkboxes[i].checked){
                        sum+= parseInt(checkboxes[i].value);
                    }
                    console.log(sum)
                } document.getElementById("variable_paragraph").innerHTML = `Your total cost is £${sum}`
            }
        </script>

    </div>
</div>
{% endblock %}
