<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Your schedule
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
{{ breadcrumb({
  href: "javascript:history.back()",
text: "Your dashboard"
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <h1>
      “Buy” a feature
    </h1>

    <p>Imagine you are designing the best service for your needs. <br><br>
      Your budget is <b>£70</b> and you can have any <b>five</b> of the things we’ve discussed today. <br><br>
      What would you leave in? What would you leave out? <br><br>
      Is there anything that’s <b>not</b> here that you think the money would be better spent on?</p>


      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="images/tell-us-your-schedule.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Tell us your schedule<br>
              <b>£10</b></p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="images/Leah.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Leah,14</a>
              </h2>
              <p class="nhsuk-card__description">The doctors describe me as a patient with significant anxiety...but really, I feel like I’m just going a little crazy. It feels like people look at anxiety as a modern thing, something that’s new and can’t be easily understood. Some people describe it as putting a label on ‘being sensitive’, that ‘everything has a have a diagnosis these days’...</p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="images/Tia.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Tia, 18</a>
              </h2>
              <p class="nhsuk-card__description">Placeholder text</p>
            </div>
          </div>

</li>






    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        
        <div class="nhsuk-checkboxes">

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label style="padding-top: 0px;" class="nhsuk-fieldset__legend--s nhsuk-checkboxes__label" for="example-1">
              Tell us your schedule
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
              Limited parking available.<br>
              Bus routes: 6, 94U<br>
              <br>
            </div>
        
          
          </div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label style="padding-top: 0px;" class="nhsuk-fieldset__legend--s nhsuk-checkboxes__label" for="example-1">
              Evergreen House<br>
             Charlton Lane<br>
              Cheltenham<br>
              GL53 9DZ<br>
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
              Limited parking available.<br>
              Bus routes: 101, DR6, F, KW3, M5, RC2<br>
              <br>
            </div>
            
          
          </div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label style="padding-top: 0px;" class="nhsuk-fieldset__legend--s nhsuk-checkboxes__label" for="example-1">
              Park House<br>
              Park Road<br>
              Stroud<br>
              GL5 2JG<br>
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
              No parking available.<br>
              Bus routes: 3, 52, 54, 54A, 61, 69, 852, 863, 866, 868, X54<br>
          <br>
          <br>
          </div>

        </div>
      

    </div>
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Which times are best for you?
      </h1>
    </legend>
   

      <div class="nhsuk-hint" id="example-hint">
        We recommend checking with your parents or carers before you answer this question, as we ask them to come with you to your first appointment.
      </div>
      <textarea class="nhsuk-textarea" id="example" name="example" rows="3" aria-describedby="example-hint"></textarea>
    </div>

  </fieldset>

    <a href="/dashboard" class="nhsuk-button nhsuk-u-margin-bottom-8">
      Submit
    </a>

  </div>


</div>
{% endblock %}
