<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Buy a feature
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
{{ breadcrumb({
  href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <!-- Change the page title here -->
    <h1>
      “Buy” a feature
    </h1>

    <p>Imagine you are designing the best service for your needs. <br><br>
      Your budget is <b>£70</b> and you can have any <b>five</b> of the things we’ve discussed today. <br><br>
      What would you leave in? What would you leave out? <br><br>
      Is there anything that’s <b>not</b> here that you think the money would be better spent on?</p>


      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/tell-us-your-schedule.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Tell us your schedule<br>
              <b>£10</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/your-clinicians.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Meet the clinicians<br>
              <b>£5</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/self-referral.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Self referral<br>
              <b>£20</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/text-triage.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Text triage<br>
              <b>£20</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/online-mental-health-check.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Online mental health check<br>
              <b>£10</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/text-check-in-2.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Text check-ins<br>
              <b>£10</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>


        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/journey-visual.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Visual of your journey<br>
              <b>£5</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>


        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/appointment-summary.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Appointment summary<br>
              <b>£20</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>


        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/dashboard.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Dashboard<br>
              <b>£20</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>


        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/online-forum.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Online forum<br>
              <b>£10</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>


        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card">
            <img class="nhsuk-card__img" src="images/status-update.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
  
              </h2>
              <p class="nhsuk-card__description" >Status updates<br>
              <b>£10</b></p>
              <div class="nhsuk-form-group">

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <div class="nhsuk-checkboxes">
                
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          
                        </label>
                      </div>
                    </div>
                  </fieldset>
                
                </div>

            </div>
          </div>
      
        </li>
  </div>


</div>
{% endblock %}
