{% extends 'layout.html' %}

{% block pageTitle %}
  Forum
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/Dashboard",
    text: "Your dashboard"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <h1>Join the conversation</h1>

      
      <p><a>Sign up to the private online forum</a>, for young people struggling with their mental health. Only people who've set up an account can access it, and it's moderated by one of our clinical team.</p>

      <p>You can:</p>
      <ul>
        <li>ask your own questions</li>
        <li>read about other people's experiences</li>
        <li>join a conversation with other people who might be having similar struggles to you</li>
      </ul>
    </div>  

  </div>
{% endblock %}
