{% extends 'layout.html' %}

{% block pageTitle %}
  CAMHS process
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <h1>Learn more about what's going on</h1>

      <h2>The CAMHS Process</h2>
      <p>Once you've submitted a request for support, a member of the Children's Mental Health eco-system will contact you to discuss this further. They will ask you more questions about what kind of help you want and what you’re expecting.</p>
      <p>After this, a clinically trained member of staff will have suggested that the best support option for you right now is CAMHS. You will then be placed in a waiting-list for treatment, based on your presenting needs.</p>
      <p>Your progress will be reviewed regularly with you, your family/carers your Care Plan will be updated as necessary.</p>
      <p>Based on your progress/ achievement of agreed goals, your  family/carers will be involved in any discussion and decisions about discharge from CAMHS. CAMHS will work with you and your family/carers  to identify support to help you stay healthy and to continue to be well.</p>

      <h2>Treatments explained</h2>
      <p>Click on each of the headings to find out more.</p>



      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Cognitive Behavioural Therapy (CBT)</a>
              </h2>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Family therapy</a>
              </h2>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Behavioural interventions</a>
              </h2>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Psychotherapy</a>
              </h2>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="#">Creative therapies</a>
                </h2>
              </div>
            </div>
        
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="#">Group therapy and psycho-educational groups</a>
                </h2>
              </div>
            </div>
        
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="#">Medication</a>
                </h2>
              </div>
            </div>
        
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="#">Parent support groups</a>
                </h2>
              </div>
            </div>
          </li>
      </ul>

    </div>  

  </div>
{% endblock %}
