{% extends 'layout.html' %}

{% block pageTitle %}
  CAMHS process
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "javascript:history.back()",
  text: "Your dashboard"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <h1>Learn more about what's going on</h1>

      <h2>The CAMHS Process</h2>
      <p>Placeholder text.</p>

      <h2>About anxiety</h2>
      <p>Placeholder text, including:</p>
      <ul>
        <li>what anxiety is</li>
        <li>how it affects you</li>
        <li>what you can do to help</li>
        <li>what's normal</li>
      </ul>

      <h2>Treatments explained</h2>
      <p>Click on each of the headings to find out more.</p>



      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Cognitive Behavioural Therapy (CBT)</a>
              </h2>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Family therapy</a>
              </h2>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Behavioural interventions</a>
              </h2>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Psychotherapy</a>
              </h2>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="#">Creative therapies</a>
                </h2>
              </div>
            </div>
        
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="#">Group therapy and psycho-educational groups</a>
                </h2>
              </div>
            </div>
        
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="#">Medication</a>
                </h2>
              </div>
            </div>
        
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="#">Parent support groups</a>
                </h2>
              </div>
            </div>
          </li>
      </ul>

    </div>  

  </div>
{% endblock %}
