{% extends 'layout.html' %}

{% block pageTitle %}
Referral confirmation
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div
            class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
    >
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
          Self-referral complete
        </h1>

        <p class="nhsuk-u-font-size-24">
          Your reference number
          <br />
          <strong class="nhsuk-u-font-size-32">HDJ2123F</strong>
        </p>
      </div>
    </div>

    <h2>What happens next</h2>

    <p>Someone will get in touch with you by phone over the next 2 weeks.</p>

    <h5>
      Text updates
    </h5>

    <p>
      You can get messages about what's happening in the process, for example when your referral has been reviewed or you've been added to the waiting list.
    </p>
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__legend">
          Would you like us to send these?
        </h1>
      </legend>

      <div class="nhsuk-radios">

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-1" name="example2" type="radio" value="yes">
          <label class="nhsuk-label nhsuk-radios__label" for="example-1">
            Yes
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-2" name="example2" type="radio" value="no">
          <label class="nhsuk-label nhsuk-radios__label" for="example-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<br><br>


<div style="display: flex; justify-content: center">
  <a href="/status-update-1" id="three-weeks-later-button">
    <button class="journey-button">
      Move to shortly after
    </button>
  </a>
</div>
{% endblock %}
