{% extends 'layout.html' %} {% block pageTitle %} Text message check-ins {%
endblock %} {% block beforeContent %} {{ breadcrumb({ href: "/dashboard", text:
"Your dashboard" }) }} {% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirdsgit ">
    <h1>Register for check-ins</h1>
    <p>
      We'd like to check in with you regularly while you're waiting for your
      treatment. We'll check on how you're doing, reassure you we've not
      forgotten about you and remind you where to go for help if things get
      worse.
    </p>
    <br>

    <p>If you'd like to be contacted, please enter your phone number below.</p>
    <br>

    <h1>Your contact details</h1>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example"> <h2>Your phone number?</h2> </label>
      <input
        class="nhsuk-input"
        id="phone_number"
        name="phone_number"
        type="text"
      />
<br>
<br>
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            How would you like to be contacted?
          </h1>
        </legend>
    
        <div class="nhsuk-radios">
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="gateway" aria-describedby="example-hints-1-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
              Text messages
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
              We'll send you an automated message at regular intervals while you wait, asking how you're doing and reminding you where you can get more help. Responses to this are monitored by one of our clinical team.
            </div>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="verify" aria-describedby="example-hints-2-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
              Phone calls
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
              We'll phone you for a 10-15 minute conversation at regular intervals during the wait. We'll ask you how you're doing and remind you where you can get more help.
            </div>
          </div>
    
        </div>
      </fieldset>
    
    </div>

    <!---End of form group-->
    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          Important
        </span>
      </h3>
      <p>Messages will come from "CAMHS Gloucestershire." If you're worried about other people seeing this, you can set your notifications to hide the message preview and the sender, or choose phone check-ins instead.</p>
    </div>
    <a href="/dashboard" class="nhsuk-button nhsuk-u-margin-bottom-8" id="submit-test-check-in-registration">
      Submit your details
    </a>
  </div>
</div>

{% endblock %}
