<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Services Filter
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Breadcrumb -->
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

      <!-- Change the page title here -->
      <h1>
        Placeholder for content page
      </h1>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <form action="/return-service-filter" method="post">
          <div class="nhsuk-form-group">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading" for="age">Age</h1>
            </legend>
            <div class="nhsuk-hint">
              How old is the young person that will be using the service? For example, 15
            </div>
            <input class="nhsuk-input" id="age" name="age" value="{{ data['age'] }}" type="number">
          </div>

       
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading" for="support_types">Support type</h1>
            </legend>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              What type off help would the young person like?
            </div>
            <select class="nhsuk-select nhsuk-u-width-full" id="support_types" name="support_types">
              <option value=['app','self-help'] {{ checked("support_types", ["app","self-help"]) }}>Information and self-help</option>
              <option value=['helpline'] {{ checked("support_types", ["helpline"]) }}>Somebody to speak to now (e.g. a helpline)</option>
              <option value=["counselling","group-support",'1-1-support','group-work','residential-stay',"social-prescribing"] {{ checked("support_types", ["counselling","group-support",'1-1-support','group-work','residential-stay',"social-prescribing"]) }}>Ongoing help to get better</option>
            </select>
          </fieldset>

          <br/>

       
          <fieldset class="nhsuk-fieldset">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l" for="example-heading">
            Mental health concern
          </label>
        </h1>
        <div class="nhsuk-hint" id="example-with-hint-text-hint">
           What is the young person struggling with? Select all that apply.
          </div>
          <div class="nhsuk-checkboxes">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                Mood and motivation
              </label>
            </div>
      
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                Eating habits or body image
              </label>
            </div>
      
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                Gender identity or sexuality
              </label>
            </div>
      
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  Seeing or hearing things
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  Self-harm
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  Feeling worried and anxious
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  Thinking about suicide
                </label>
              </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                Bereavement
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                  Bullying
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    The COVID-19 pandemic
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Domestic abuse
                </label>
                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="nationality-1-item-hint">
                   either within their family or their own relationship
                  </div>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Family illness
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Miscarriage or pregnancy-related issues
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Seeking asylum
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Sexual abuse or assault
                </label>
              </div>
            </div>
            </fieldset>

            <br/>

            {% from 'radios/macro.njk' import radios %}
            {% from 'fieldset/macro.njk' import fieldset %}
            {% from 'hint/macro.njk' import hint %}
            
            {% call fieldset({
              legend: {
                "text": "Show paid options?",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
              }) %}
              {{ hint({
                "text": "Some voluntary counselling services are run on a donations basis. These might have shorter waiting periods.",
                "classes": "nhsuk-u-margin-bottom-2"
              }) }}
              {{ radios({
                "idPrefix": "example-hints",
                "name": "free",
                "items": [
              {
                "value": "false",
                "text": "Yes"
              },
              {
                "value": "true",
                "text": "No"
              }
            ]
            }) }}
            {% endcall %}

            <button class="nhsuk-button nhsuk-u-width-full">Apply</button>
        </form>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <h2>Two-thirds column</h2>
        </div>
      </div>
      <br/><br/>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <!-- End of content -->


      <a href="/landing-page" class="nhsuk-button nhsuk-u-margin-bottom-8" id="placeholder-page-back-button">
        Back
    </a>



  </div>
{% endblock %}
