{% extends 'layout.html' %}

{% block pageTitle %}
Update 2
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
href: "/",
text: "Home"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>
            You received a text message:
        </h1>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>
                Thank you for taking the time to speak to one of our team today. We've added you to the waiting list to speak to a psychotherapist who specialises in anxiety.
            </p>
            <p>
                Our waiting times are about 4 months at the moment. We know that's longer than you'd like to wait, and we're sorry. Your <a href="/dashboard">dashboard</a> has information on:
                <li>help that's available while you wait</li> 
                <li>the status of your referral</li> 
                <li>treatment options</li>
                <li>the clinicans you might meet.</li>
            </p>
            <p>
                You'll also be prompted to tell us which location and time is best for your first interview - this helps make sure we don't schedule an appointment that doesn't work for you.
            </p>
        </div>

    </div>

</div>
{% endblock %}
