{% extends 'layout.html' %}

{% block pageTitle %}
  Read stories from other people
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "javascript:history.back()",
    text: "Your dashboard"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <h1>
        Read stories from other people
      </h1>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="example">
            Search for key word(s) below:
          </label>
          <input class="nhsuk-input" id="example" name="example" type="text">
        </div>
        <button class="nhsuk-button" type="submit" style="align-self: inherit;">
          Search
        </button>

        <br>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="images/Josh.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Josh, 21</a>
              </h2>
              <p class="nhsuk-card__description" >I was diagnosed with depression during my final year of Uni. I remember I wrote a sort of suicide note when I was 12. At that age I self-harmed as well. I didn’t speak to anyone about how I was feeling. What was I going to say? That was the first time I started feeling something wasn’t right, but I didn’t know what it was. Even at Uni, I still couldn’t figure it out...</p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="images/Leah.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Leah,14</a>
              </h2>
              <p class="nhsuk-card__description">The doctors describe me as a patient with significant anxiety...but really, I feel like I’m just going a little crazy. It feels like people look at anxiety as a modern thing, something that’s new and can’t be easily understood. Some people describe it as putting a label on ‘being sensitive’, that ‘everything has a have a diagnosis these days’...</p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="images/Tia.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Tia, 18</a>
              </h2>
              <p class="nhsuk-card__description">Placeholder text</p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="images/Brit.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Brit, 19</a>
              </h2>
              <p class="nhsuk-card__description">Placeholder text</p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="images/Holly.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Holly, 16</a>
              </h2>
              <p class="nhsuk-card__description">Placeholder text</p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="images/Tom.png" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Tom, 22</a>
              </h2>
              <p class="nhsuk-card__description">Placeholder text</p>
            </div>
          </div>
      
        </li>
      </ul>

      <br>
    </div>  

  </div>
{% endblock %}
