{% extends 'layout.html' %}

{% block pageTitle %}
Text check in - waiting list
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
href: "/",
text: "Home"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>
            You received a text message:
        </h1>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>
                You're still on our waiting list, and we haven't forgotten about you. We'll be in touch as soon as there's an appointment slot available.
            </p>
            <p>
                If you haven't already, please <a href="/your-schedule">let us know the best location and time for your first appointment</a>.
            </p>
            <p>
                If you're feeling worse, or your circumstances have got more difficult, let us know by replying to this message.
                One of our clinical team will arrange to give you a call."
            </p>
        </div>

        <div style="display: flex; justify-content: center">
            <a href="/dashboard-2" id="skip-to-during-treatment-button">
                <button
                        style="
        background-color: rgb(239,197,61);
        width: 200px;
        height: 100px;
        text-align: center;
        font-size: 20px;
                ">
                    Move to during your treatment
                </button>
            </a>
        </div>

    </div>

</div>
{% endblock %}
