<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Your schedule
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
{{ breadcrumb({
  href: "javascript:history.back()",
text: "Your dashboard"
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <h1>
      Your first appointment
    </h1>

    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Which location is best for you?
          </h1>
        </legend>

        <div class="nhsuk-hint" id="example-hint">
          Select all options that are relevant to you.
        </div>

        <div class="nhsuk-checkboxes">

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-fieldset__legend--s nhsuk-checkboxes__label" for="example-1">
              Acorn House
            </label>
            <p style="margin-left: 0.5em">
              Horton Road, Gloucester, GL1 3PX<br>
              Limited parking available<br>
              Bus routes 6, 94U
            </p>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-fieldset__legend--s nhsuk-checkboxes__label" for="example-1">
              Evergreen House
            </label>
            <p style="margin-left: 0.5em">
              Charlton Lane, Cheltenham, GL53 9DZ<br>
              Limited parking available<br>
              Bus routes 101, DR6, F, KW3, M5, RC2
            </p>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-fieldset__legend--s nhsuk-checkboxes__label" for="example-1">
              Park House
            </label>
            <p style="margin-left: 0.5em">
              Park Road, Stroud, GL5 2JG<br>
              No parking available<br>
              Bus routes 3, 52, 54, 54A, 61, 69, 852, 863, 866, 868, X54
          </div>

        </div>
      </fieldset>

    </div>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example">
        Which times are best for you?
      </label>
      <div class="nhsuk-hint" id="example-hint">
        We recommend checking with your parents or carers before you answer this question, as we ask them to come with you to your first appointment.
      </div>
      <textarea class="nhsuk-textarea" id="example" name="example" rows="3" aria-describedby="example-hint"></textarea>
    </div>



    <a href="/dashboard" class="nhsuk-button nhsuk-u-margin-bottom-8">
      Submit
    </a>

  </div>


</div>
{% endblock %}
